{% extends 'smartcare/base.html' %}
{% load static %}



{% block content %}


<head>
<style>
      .lead a {
        text-decoration: none;
        color: black;
    }

    .jumbotron {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start; 
        align-items: center; 
        height: 100vh; 
        padding-top: 20px; 
    }

    .lead {
      margin-left: 20px; 
      padding: 20px;
      background-color: #bc769e; 
      border-radius: 5px; 
  }
  
  </style>
</head>
<br>
<br>

<div class="jumbotron">
  <br>
  <h1>Smartcare</h1>
  <br><br><br><br><br>
  <p>

  <p class="lead">
    <a href="/patientclick" role="button">Book Appointment Now!</a>
  </p>
  <br><br>
</div>

<br><br><br><br>

{% comment %} {% include "smartcare/admin_doctor_patient_card.html" %} {% endcomment %}
<br><br><br>


{% endblock content %}
