{% extends 'smartcare/base.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Patient</h1>
  <p class="lead" style="text-align:center;">Welcome to Smartcare.</p>
  <hr class="my-4">

    <div style="display: flex; justify-content: center;">
    <a class="btn btn-danger btn-lg" href="/patientsignup" role="button" style="background-color: #c284a7;">Register Your Account</a>
    <a class="btn btn-success btn-lg" href="/patientlogin" role="button" style="background-color: #c284a7; margin-left: 10px;">Login</a>
    </div>
</div>

{% endblock content %}
